html {
    min-height: 100%;
}
a, p, h1, h2, h3, h4, h5, h6{
    font-family: 'Open Sans';
}
h1{
    color: #32353A;
    font-size: 28pt;
    font-weight: bolder;
}
p{
    color: #444A51;
    font-size: 12pt;
    line-height: 160%;
}
a{
    color: #33a95d;
}
a:hover{
    color: #33714a;
    text-decoration: none;
}


/*NAVBAR*/
.navbar{
    margin-bottom: 0;
}

.logo-lirmi{
    width: 72px;
}
.nav a{
    color: #333;
    margin: 0 20px 0 10px;
}
.nav a:hover{
    text-decoration: inherit;
}
.nav-wsp{
    width: 25px;
}

/*CONTENEDOR PRINCIPAL*/

.contenido .row{
    position: relative;
}

/*CENTRO*/
.centro{
    margin: 15px 0 20px 0;
    padding-right: 7%;
}
.centro h1{
    margin: 25px 0;
}
.centro-texto1{
    display: inherit;
    margin: 25px 0;
}
.centro-texto1 hr{
    border-top: 3px solid #39b44a;
    width: 45px;
    margin: 0;
}
.descripcion{
    line-height: 33px;
    font-size: 17pt;
}
.centro-texto2{
    padding: 25px 0;
}
.centro-texto2 h4{
    font-weight: bold;
}
.centro-texto2 p{
    font-size: 12pt;
}
.centro-video{
    display: none;
}
hr{
    margin: 0;
    border-top: 2px solid #eee;
}
.contenido2{
    text-align: center;
    margin-bottom: 45px;
}
.contenido2 h1{
    margin: 50px;
}
.contenido2-parrafo{
    font-size: 12pt;
    padding: 15px 5%;
}
.pasos img{
    width: 50%;
}
.pasos h3{
    font-weight: bold;
    padding: 0 15%;
    line-height: 30px;
}
.pasos p{
    padding: 0 17px;
}



/*SIDEBAR*/
.side{
    position: absolute;
    right:0;
    background-color: #f4f5f7;
    height: 100%;
    padding: 10px 30px 30px 30px;
}




/*FOOTER*/
.footer{
    background-color: #32353a;
    width: 100%;
}
.footer-cont, .footer-cont p{
    color: #78828c;
}
.footer-cont p{
    padding-right: 10%;
}
.footer-titulo{
    color: #fefefe;
    padding: 15px 0 0 0;
}
.footer-cont div{
    padding: 15px 0;
}
.footer-contact{
    display: -webkit-box;
}
.footer-icono{
    width: 20px;
    margin-right: 10px;
}


/*MEDIA QUERIES*/
@media (max-width:992px) {
    .side{
        position: static;
        padding-right: 5%;
        padding-left: 5%;
    }
}