html {
    min-height: 100%;
    /*position: relative;*/
}
/*body {*/
    /*margin: 0;*/
    /*margin-bottom: 40px;*/
/*}*/

/*NAVBAR*/
.navbar{
    margin-bottom: 0px;
}

.logo-lirmi{
    width: 72px;
}
.nav a{
    color: #333;
    margin: 0 20px 0 10px;
}
.nav a:hover{
    text-decoration: inherit;
}
.nav-wsp{
    width: 25px;
}

/*CONTENEDOR PRINCIPAL*/
.contenido{
}

/*CENTRO*/
.centro{
    margin: 15px 0 20px 0;
}
.descripcion{
    margin: 25px 0px;
}

/*VIDEO Y LISTA*/
.lista-reproduccion{
    border: 1px solid #c6c6c6;
    padding: 10px 15px 0 15px;
}
.video-link{
    padding: 10px;
    cursor: pointer;
}
.video-link:hover{
    background-color: #d1fcad;
}
/*.video-link:enabled{*/
    /*background-color: red;*/
/*}*/
.btn-play{
    color: #ff6801;
}
.btn-play:hover{
    color: #d55500;
}



.video-link i{
    float: left;
}
.video-link a{
    margin-left: 6%;
}
.video-link span{
    float: right;
}




/*.vid-list-container {*/
    /*width: 92%;*/
    /*overflow: hidden;*/
    /*margin-top: 20px;*/
    /*margin-left:4%;*/
    /*padding-bottom: 20px;*/
/*}*/

/*.vid-list {*/
    /*width: 1344px;*/
    /*!*position: relative;*!*/
    /*top:0;*/
    /*left: 0;*/
/*}*/
/*.vid-item {*/
    /*display: block;*/
    /*width: 148px;*/
    /*height: 148px;*/
    /*float: left;*/
    /*margin: 0;*/
    /*padding: 10px;*/
/*}*/

/*.vid-item .desc {*/
    /*color: #21A1D2;*/
    /*font-size: 15px;*/
    /*margin-top:5px;*/
/*}*/












/*SIDEBAR*/
.side{
    background-color: #f4f5f7;
    height: 100%;
    padding: 10px 30px 30px 30px;
}
.side-pasos{
    background-color: #ffffff;
    margin-bottom: 10px;
    border-radius: 5px;
    position: relative;
    min-height: 75px;
}
.side-paso1 {
    background-color: #d3fe66;
}
.side-paso2{
    background-color: #79c942;
}
.side-paso3{
    background-color: #34aa5c;
}
.side-pasos div{
    height: 100%;
    text-align: center;
    border-bottom-left-radius: inherit;
    border-top-left-radius: inherit;
}
.side-icono{
    color: #fff;
    width: 25%;
    display: inline-block;
    float: left;
    position: absolute;
}
.side-icono i{
}
.side-text{
    display: inline-block;
    width: 60%;
    padding: 10px 15px;
    margin-left: 25%;
}
.side-text p{
    text-align: left;
}
.side-narrow{
    position: absolute;
    display: inline-block;
    float: right;
    width: 15%;
}
.side-narrow i:hover{
    color: #9ba3ac;
}
.side-narrow i{
    color: #78828c;
}
.side-pasos div i {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 50%;
    margin: auto;
    font-size: 40px;
}

/*FOOTER*/
.footer{
    background-color: #32353a;
    /*position: absolute;*/
    /*bottom: 0;*/
    width: 100%;
}
.footer-cont{
    color: #78828c;
}
.footer-titulo{
    color: #fefefe;
    padding: 15px 0% 0px 0%;
}
.footer-cont div{
    padding: 15px 0%;
}
.footer-contact{
    display: -webkit-box;
;
}
.footer-icono{
    width: 20px;
    margin-right: 10px;
}

a{
    color: #33a95d;
}
a:hover{
    color: #33714a;
    text-decoration: none;
}

@media (max-width:992px) {
    .side{
        height: 100%;
        padding: 1px 20px;
        padding-bottom: 15px;
    }
}